* {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
}
section {
  margin-bottom: 90px;
}
a {
  text-decoration: none;
}
/*? STORE  */
.link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 140% */
  color: #45525b;
}
.subtitle {
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6f7278;
}
.text-orange {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
}
.title {
  margin-bottom: 11px;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43.2px; /* 120% */
  color: #45525b;
}
.store__descr {
  width: 564px;
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 120% */
  color: #6f7278;
}
.store__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.store__item {
  text-align: center;
}
.store__img {
  margin-bottom: 20px;
}

.store__subtitle2 {
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  margin-bottom: 10px;
  color: #45525b;
}
.store__list-beds {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.store__item-beds {
  display: flex;
}
.store__logo {
  margin-right: 8px;
}
/*? TEAM  */

.team__inner {
  width: 368px;
}
.team__title {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 140% */
  color: #45525b;
}
.team__subtitle {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 140% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #6f7278;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  width: 736px;
}
.team__item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 360px;
  height: 80px;
}
.team__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}
