* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
}
section {
  margin-bottom: 90px;
}
a {
  text-decoration: none;
}
/*? STORE  */
.link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 140% */
  color: #45525b;
}
.subtitle {
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6f7278;
}
.text-orange {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
}
.title {
  margin-bottom: 11px;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43.2px; /* 120% */
  color: #45525b;
}
.store__descr {
  width: 564px;
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 120% */
  color: #6f7278;
}
.store__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.store__item {
  text-align: center;
}
.store__img {
  margin-bottom: 20px;
}

.store__subtitle2 {
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  margin-bottom: 10px;
  color: #45525b;
}
.store__list-beds {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.store__item-beds {
  display: flex;
}
.store__logo {
  margin-right: 8px;
}

/*? TEAM  */

.team__inner {
  width: 368px;
}
.team__title {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 140% */
  color: #45525b;
}
.team__subtitle {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 140% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #6f7278;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  width: 736px;
}
.team__item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 360px;
  height: 80px;
}
.team__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}

/*? NEWSROOM */
.newsroom {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fafafc;
}
.newsroom__titles {
  text-align: center;
}
.newsroom__list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.newsroom__item {
  width: 376px;
  background-color: #fff;
}
.newsroom__img {
  margin-bottom: 30px;
}
.newsroom__link {
  display: flex;
  justify-content: center;
}
.newsroom__text {
  margin-bottom: 8px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
}
.newsroom__descr {
  /* width: 308px; */
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.2px; /* 120% */
  color: #45525b;
}
.newsroom__date {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 150.769% */
  color: #6f7278;
}
.newsroom__inner {
  padding-left: 30px;
  padding-bottom: 30px;
}

/*! FOOTER */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #292c32;
}

.footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 75px;
}
.footer__link {
  margin-top: 8px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
  color: #fff;
}
.footer__email {
  width: 90%;
  height: 53px;
  padding-left: 34px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
}
.footer__email::placeholder {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
  color: #6f7278;
}
.footer__form {
  display: flex;
  padding: 25px;
  margin-top: 10px;
  background-color: #fafafc;
  border-radius: 8px;
  gap: 20px;
  flex-direction: column;
  width: 450px;
}
.footer__btn {
  /* position: absolute;
  top: 10px;
  left: 34.5%; */
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
  padding: 8px;
  border-radius: 10px;
  background: #3a4443;
}
.footer__form label {
  font-family: Poppins;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
  color: #3a4443;
}
.footer__checkbox {
  width: 40px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
}
.footer__item {
  display: flex;
  flex-direction: column;
}
.footer__link2 {
  width: 450px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}
.footer__text {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
}
.footer__socials {
  display: flex;
  gap: 20px;
}
